<table class="table" id="2">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Authors</th>
    <th scope="col">Title</th>
    <th scope="col">Publication Date</th>
    <th scope="col">available</th>
    <th scope="col">nbPages</th>
    <th scope="col">nbRent</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">{{book.id}}</th>
    <td>{{book.author}}</td>
    <td>{{book.title}}</td>
    <td>{{book.publicationDate}}</td>
    <td>{{book.available}}</td>
    <td>{{book.nbPages}}</td>
    <td>{{book.nbRent}}</td>
  </tr>
  </tbody>
</table>

